@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --lightgrey: #e5e7eb;
  --primary: #de547d;
  --primary-100: #d64974;
  --primary-200: #c8465e;
  --secondary: #710146;
  --secondary-100: #5d073b;
  --text-dark: #1c1c1e;
  --text-muted: #66758a;
  --success: #16a34a;
  --error: #dc2626;
  --warning: #facc15;
  --white: #ffffff;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --lightgrey: #334155;
  --primary: #f472b6;
  --primary-100: #ec4899;
  --primary-200: #db2777;
  --secondary: #a855f7;
  --secondary-100: #9333ea;
  --text-dark: #f1f5f9;
  --text-muted: #94a3b8;
  --success: #4ade80;
  --error: #f87171;
  --warning: #fbbf24;
  --white: #ffffff;
}

body {
  background: var(--background);
  color: var(--text-dark);
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop-scroll {
  display: flex;
  width: max-content;
  animation: loop-scroll 20s linear infinite;
}
